<div class="row">
    <div class="col-md-5" style=" padding: 2%; ">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7" style="padding: 2%;border-left: 1px solid lightgrey ; min-height: 500px;">
        <router-outlet></router-outlet>
        <!-- <app-recipe-details *ngIf="selectedRecipe;else recipeUndefined" [recipe]="selectedRecipe"></app-recipe-details>
        <ng-template #recipeUndefined>
            <h1 class="text-center">Please Select a Recipe.</h1>
        </ng-template> -->
    </div>
</div>